
# Created by https://www.gitignore.io/api/react,visualstudiocode
# Edit at https://www.gitignore.io/?templates=react,visualstudiocode

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components
package.json
yarn.lock

*.sublime*

psd
thumb
sketch

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.gitignore.io/api/react,visualstudiocode
config/env.js
config/modules.js
scripts/test.js
scripts/start.js
scripts/build.js
config/webpackDevServer.config.js
config/webpack.config.js
config/pnpTs.js
config/paths.js
config/jest/fileTransform.js
config/jest/cssTransform.js
