.myheader{
    background:#50c878;
    height:10rem;
}
.logo{
    display: flex;
    justify-content: center;
    align-items:center;;
}
.left-line{
    width:40vw;
}
.restaurant_name{
    width:20vw;
    text-align: center;
    font-size:5rem;
}
.right-line{
    width:40vw;
}
.introduce_restaurant{
    text-align: center;
}
.lines{
    height:1px;
    background:white;
    border:none;
}